<html xmlns="http://www.themeleaf.org">
    <head>
        <tittle>List Chil</tittle>
    </head>
        <body>
        <div>
            <h2>List Chil</h2>
            <hr/>

                <table class="table table-hover">
                    <thead>
                    <tr>

                        <th scope="col">Registration Number </th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Date of Birth</th>
                        <th scope="col">Place of Birth</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  *ngFor="let child of childList">
                        <td th{child.id}></td>
                        <td>{{child.registration_no}}</td>
                        <td>{{child.child_name}}</td>
                        <td>{{child.gender}}</td>
                        <td>{{child.child_dob}}</td>
                        <td>{{child.place_birth}}</td>
                        <td>
                            <a th:href="#" type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#edit_child" (click)="edit_child(child)">Edit</a>
                            <a type="button" class="btn btn-outline-danger" (click)="delete_child(child)">Delete</a>
                        </td>
                    </tr>
                    </tbody>

<!--                    @{/UpdateForm/(id=}-->
            </table>
        </div>
        </body>



</html>